/chinese_pseudo/chinese_data1018/all_chinese_char/
/chinese_pseudo/chinese_data1018/chinese_image/
/chinese_pseudo/chinese_data1018/中文姓名/
/chinese_pseudo/chinese_data1018/pic_chinese_char/
/chinese_pseudo/generated_images/
/mnist_images/
/chinese_pseudo/北京房山/